Repository tabootv/taboo-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css}": ["prettier --write"]
}

refactor: extract notifications components and add creator follow button
  .claude/skills/integrate-branch-feature/SKILL.md
  src/app/(main)/creators/[handler]/_components/CreatorHeader.tsx
  src/app/(main)/notifications/_components/DeleteAllConfirmation/index.tsx
  src/app/(main)/notifications/_components/NotificationCard/index.tsx
  src/app/(main)/notifications/_components/NotificationFilters/index.tsx
  src/app/(main)/notifications/_hooks/useNotificationFilters.ts
  src/app/(main)/notifications/_utils/notification.constants.ts
  src/app/(main)/notifications/_utils/notification.utils.ts
  src/app/(main)/notifications/page.tsx
  src/components/creator/CreatorCard/index.tsx
  src/components/creator/CreatorFollowButton/index.tsx
  src/components/layout/components/NavbarUserMenu.tsx
  src/components/layout/footer.tsx
  src/components/layout/top-header.tsx
Due: eslint --fix, prettier --write

refactor(shorts): migrate shorts feed to app route components
  .claude/settings.local.json
  .claude/skills/transmute-external-pattern/SKILL.md
  src/app/(main)/shorts/[uuid]/page.tsx
  src/app/(main)/shorts/_components/short-action-buttons.tsx
  src/app/(main)/shorts/_components/short-creator-info.tsx
  src/app/(main)/shorts/_components/short-slide.tsx
  src/app/(main)/shorts/_components/short-video-player.tsx
  src/app/(main)/shorts/_components/shorts-feed-container.tsx
  src/app/(main)/shorts/_components/shorts-navigation.tsx
  src/app/(main)/shorts/_deprecated/[uuid]/page.tsx
  src/app/(main)/shorts/_deprecated/page.tsx
  src/app/(main)/shorts/page.tsx
  src/app/(main)/shorts/shorts-feed.css
  src/components/layout/main-layout.tsx
  src/features/shorts/_deprecated/components/desktop-action-buttons.tsx
  src/features/shorts/_deprecated/components/desktop-comment-section.tsx
  src/features/shorts/_deprecated/components/mobile-action-buttons.tsx
  src/features/shorts/_deprecated/components/mobile-comment-section.tsx
  src/features/shorts/_deprecated/components/short-header.tsx
  src/features/shorts/_deprecated/components/short-player.tsx
  src/features/shorts/_deprecated/components/short-video-card.tsx
  src/features/shorts/_deprecated/components/short-video-player.tsx
  src/features/shorts/_deprecated/hooks/index.ts
  src/features/shorts/_deprecated/hooks/use-shorts-url-sync.ts
  src/features/shorts/hooks/index.ts
  src/features/shorts/hooks/use-shorts-feed.ts
  src/features/shorts/hooks/use-shorts-keyboard.ts
  src/features/shorts/hooks/use-shorts-url-sync.ts
  src/features/shorts/hooks/use-vertical-feed.ts
Due: eslint --fix, prettier --write

chore(shorts): tweak vertical feed onIndexChange ref typing
  src/features/shorts/hooks/use-vertical-feed.ts
Due: eslint --fix, prettier --write

refactor(creator): move creator components to features/creator
  src/app/(main)/creators/[handler]/_components/CreatorHeader.tsx
  src/app/(main)/creators/[handler]/loading.tsx
  src/app/(main)/creators/loading.tsx
  src/app/(main)/creators/page.tsx
  src/features/creator/components/CreatorCard/index.tsx
  src/features/creator/components/CreatorCardSkeleton/index.tsx
  src/features/creator/components/CreatorFollowButton/index.tsx
  src/features/creator/components/CreatorProfileSkeleton/index.tsx
Due: eslint --fix, prettier --write

refactor(watchlist): move watchlist components to features/watchlist
  src/features/watchlist/components/WatchlistCard/index.tsx
  src/features/watchlist/components/WatchlistCardSkeleton/index.tsx
Due: eslint --fix, prettier --write

refactor(layout): move NavigationProgress under layout/navigation
  src/components/layout/main-layout.tsx
  src/components/layout/navigation/NavigationProgress.tsx
Due: eslint --fix, prettier --write

docs: add context architecture and agent docs, update AGENTS.md
  AGENTS.md
  docs/CONTEXT_ARCHITECTURE.md
  docs/agents/api-design.md
  docs/agents/authentication.md
  docs/agents/content-types.md
  docs/agents/refactoring.md
  docs/agents/server-actions.md
  docs/agents/skills-guide.md
  docs/agents/state-management.md
  docs/agents/styling.md
  docs/agents/testing.md
  docs/reference/architecture.md
  docs/reference/design-system-complete.md
  docs/reference/skills.md
Due: none

chore(skills): add agent skills modules
  .agents/skills/api-integration/SKILL.md
  .agents/skills/bundling-optimization/SKILL.md
  .agents/skills/code-organization/SKILL.md
  .agents/skills/linting-practices/SKILL.md
  .agents/skills/refactoring-patterns/SKILL.md
  .agents/skills/testing/SKILL.md
  .agents/skills/typescript-patterns/SKILL.md
  .agents/skills/ui-components/SKILL.md
Due: none

chore: remove obsolete config, consolidate testing setup
  .node-version
  .prettierignore
  src/testing/fixtures/searchData.ts
  src/testing/setup.ts
Due: eslint --fix, prettier --write

refactor(studio): simplify creator studio pages and add map stats
  src/api/queries/studio.queries.ts
  src/app/(studio)/studio/analytics/page.tsx
  src/app/(studio)/studio/earnings/page.tsx
  src/app/(studio)/studio/page.tsx
  src/app/(studio)/studio/payouts/page.tsx
  src/app/(studio)/studio/posts/page.tsx
  src/app/(studio)/studio/settings/page.tsx
  src/app/(studio)/studio/upload/short/page.tsx
  src/app/(studio)/studio/upload/video/page.tsx
  src/app/api/creator-studio/earnings/route.ts
  src/app/layout.tsx
  src/components/sidebar/studio-sidebar.tsx
  src/components/studio/ActionCard/index.tsx
  src/components/studio/QuickLinkCard/index.tsx
  src/components/studio/StatCard/index.tsx
  src/components/ui/card.tsx
  src/features/creator-studio/components/studio-header.tsx
  src/lib/firstpromoter/client.ts
Due: eslint --fix, prettier --write

feat(shorts): add reactive cache updates and improve deep link handling
  src/api/client/shorts.client.ts
  src/app/(main)/shorts/_components/short-action-buttons.tsx
  src/app/(main)/shorts/_components/shorts-feed-container.tsx
  src/features/shorts/hooks/use-short-detail.ts
  src/features/shorts/hooks/use-shorts-feed.ts
  src/features/shorts/hooks/use-shorts-url-sync.ts
Due: eslint --fix, prettier --write

feat(studio): add shared utils and hooks for studio
  src/hooks/use-file-preview.ts
  src/shared/utils/iso-country.ts
Due: eslint --fix, prettier --write

feat(studio): extend API layer for studio and firstpromoter
  src/api/queries/firstpromoter.queries.ts
  src/api/queries/studio.queries.ts
  src/api/query-keys.ts
Due: eslint --fix, prettier --write

feat(studio): add studio dashboard, upload, and analytics components
  src/app/studio/_components/ContentMetricsGrid.tsx
  src/app/studio/_components/ContentPulseCard.tsx
  src/app/studio/_components/EarningsCard/index.tsx
  src/app/studio/_components/EarningsCard/utils.ts
  src/app/studio/_components/TopTagsCard.tsx
  src/app/studio/_components/UploadForm/ShortsTipsBanner.tsx
  src/app/studio/_components/UploadForm/ThumbnailPicker.tsx
  src/app/studio/_components/UploadForm/UploadDetailsForm.tsx
  src/app/studio/_components/UploadForm/UploadForm.tsx
  src/app/studio/_components/UploadForm/UploadProgress.tsx
  src/app/studio/_components/UploadForm/VideoDropzone.tsx
  src/app/studio/_components/UploadForm/VisibilitySection.tsx
  src/app/studio/_components/UploadForm/configs.ts
  src/app/studio/_components/UploadForm/index.ts
  src/app/studio/_components/UploadForm/types.ts
  src/app/studio/_components/WelcomeHeader.tsx
  src/app/studio/_components/WorldTakeoverCard.tsx
  src/app/studio/analytics/_components/AnalyticsHeader.tsx
  src/app/studio/analytics/_components/ConversionFunnelCard.tsx
  src/app/studio/analytics/_components/JarvisInsightsCard.tsx
  src/app/studio/analytics/_components/PayoutsCTA.tsx
  src/app/studio/analytics/_components/SubscriptionMetricsCard.tsx
  src/app/studio/analytics/_components/chart-skeleton.tsx
  src/app/studio/analytics/_components/customers-chart.tsx
  src/app/studio/analytics/_hooks/useAnalyticsMetrics.ts
Due: eslint --fix, prettier --write

refactor(studio): simplify studio pages with extracted components
  src/app/studio/analytics/page.tsx
  src/app/studio/earnings/page.tsx
  src/app/studio/page.tsx
  src/app/studio/payouts/page.tsx
  src/app/studio/posts/page.tsx
  src/app/studio/upload/short/page.tsx
  src/app/studio/upload/video/page.tsx
Due: eslint --fix, prettier --write

docs: add external API reference for public map videos
  docs/external/api-public-map-videos.md
Due: none

docs: add Upload API reference for Bunny.net TUS uploads
  AGENTS.md
  docs/agents/upload-api.md
Due: none

feat(studio): extend API layer with content management types and mutations
  src/api/client/studio.client.ts
  src/api/client/video.client.ts
  src/api/mutations/studio.mutations.ts
  src/api/queries/studio.queries.ts
  src/api/query-keys.ts
  src/types/index.ts
  src/types/studio.ts
Due: eslint --fix, prettier --write

feat(studio): add content management table components
  src/app/studio/_components/content-table/ContentFilterBar.tsx
  src/app/studio/_components/content-table/ContentTable.tsx
  src/app/studio/_components/content-table/ContentTableActions.tsx
  src/app/studio/_components/content-table/ContentTableRow.tsx
  src/app/studio/_components/content-table/ContentTabs.tsx
  src/app/studio/_components/content-table/DeleteConfirmationDialog.tsx
  src/app/studio/_components/content-table/PostsTable.tsx
  src/app/studio/_components/content-table/PostsTableRow.tsx
  src/app/studio/_components/content-table/VisibilityDropdown.tsx
  src/app/studio/_components/content-table/index.ts
Due: eslint --fix, prettier --write

feat(studio): add content management page with filters
  src/app/studio/content/_hooks/use-content-filters.ts
  src/app/studio/content/_types/filters.ts
  src/app/studio/content/page.tsx
Due: eslint --fix, prettier --write

feat(studio): add upload modal with immediate upload flow
  src/app/studio/upload/_components/UploadModal.tsx
  src/app/studio/upload/_hooks/use-aspect-ratio.ts
  src/app/studio/upload/_hooks/use-circuit-breaker.ts
  src/app/studio/upload/_hooks/use-immediate-upload.ts
Due: eslint --fix, prettier --write

refactor(shorts): clean up comments and reorganize imports
  src/app/(main)/shorts/_components/shorts-feed-container.tsx
  src/features/shorts/hooks/use-shorts-feed.ts
Due: eslint --fix, prettier --write

chore(studio): add Content navigation and TooltipProvider
  src/app/studio/layout.tsx
  src/components/layout/main-layout.tsx
  src/components/sidebar/studio-sidebar.tsx
Due: eslint --fix, prettier --write

docs: add API references for video management and uploads
  docs/external/api-public-map-videos.md
  docs/external/api-video-management.md
  docs/external/api-video-posts-upload.md
Due: none

chore: add Claude Code permissions for worktree and build commands
  .claude/settings.local.json
Due: prettier --write

feat(player): add stall recovery and speed-aware buffering
  src/app/(main)/contents/shorts/[id]/show/page.tsx
  src/app/(main)/contents/videos/[id]/show/page.tsx
  src/app/(main)/courses/[id]/play/[videoUuid]/page.tsx
  src/app/(main)/videos/[id]/page.tsx
  src/features/series/components/series-video-player.tsx
  src/features/video/components/shaka-player/hooks/use-quality-management.ts
  src/features/video/components/shaka-player/hooks/use-shaka-player.ts
  src/features/video/components/shaka-player/index.tsx
  src/features/video/components/shaka-player/player-controls.tsx
  src/features/video/components/shaka-player/player-settings.tsx
  src/features/video/components/video-player.tsx
  src/features/video/constants/player-constants.ts
  src/types/video.ts
Due: eslint --fix, prettier --write

refactor(comments): migrate to optimistic mutations with modular components
  src/api/mutations/comments.mutations.ts
  src/api/mutations/video.mutations.ts
  src/features/video/components/_comments/comment-input.tsx
  src/features/video/components/_comments/comment-list.tsx
  src/features/video/components/_comments/comment-utils.ts
  src/features/video/components/_comments/index.ts
  src/features/video/components/_comments/reply-thread.tsx
  src/features/video/components/_comments/single-comment.tsx
  src/features/video/components/single-comment.tsx
  src/features/video/components/video-comments.tsx
  src/types/comment.ts
Due: eslint --fix, prettier --write

fix(shorts): improve deep link navigation and cache handling
  src/api/client/shorts.client.ts
  src/app/(main)/creators/[handler]/_components/CreatorShortsGrid.tsx
  src/app/(main)/shorts/_components/shorts-feed-container.tsx
  src/features/shorts/hooks/use-shorts-feed.ts
  src/features/shorts/hooks/use-shorts-url-sync.ts
  src/features/shorts/hooks/use-vertical-feed.ts
Due: eslint --fix, prettier --write

refactor(home): migrate playlists to TanStack Query with memoization
  src/api/queries/home.queries.ts
  src/api/query-keys.ts
  src/app/(main)/home/_components/PreviewMediaInfo.tsx
  src/app/(main)/home/_components/PreviewVideoPlayer.tsx
  src/app/(main)/home/_components/media-preview-modal.tsx
  src/app/(main)/home/_components/playlist-rail.tsx
  src/app/(main)/home/_components/playlists.tsx
  src/app/(main)/home/_components/rail-card.tsx
  src/app/(main)/home/_components/rail-row.tsx
  src/app/(main)/home/playlists-infinite-scroll.tsx
Due: eslint --fix, prettier --write

feat(layout): add scroll restoration and performance optimizations
  src/app/globals.css
  src/components/layout/main-layout.tsx
  src/components/layout/navigation/ScrollRestoration.tsx
Due: eslint --fix, prettier --write

docs: absorb external API docs into agent knowledge base
  AGENTS.md
  docs/agents/api-design.md
  docs/agents/upload-api.md
  docs/external/api-video-management.md
  docs/external/api-video-posts-upload.md
Due: none

feat(series): add filters and infinite scroll to series page
  src/api/client/series.client.ts
  src/api/queries/series.queries.ts
  src/app/(main)/series/constants.ts
  src/app/(main)/series/page.tsx
  src/app/(main)/videos/components/select-filter.tsx
  src/components/ui/select-filter.tsx
Due: eslint --fix, prettier --write

feat(studio): add publication model types and visibility refactor
  src/app/studio/_components/content-table/ContentTableActions.tsx
  src/app/studio/_components/content-table/ContentTableRow.tsx
  src/app/studio/_components/content-table/VisibilityDropdown.tsx
  src/app/studio/content/_types/filters.ts
  src/app/studio/content/_utils/video-status.ts
  src/types/index.ts
  src/types/studio.ts
Due: eslint --fix, prettier --write

feat(studio): migrate videos API to /studio/videos endpoint
  src/api/client/studio.client.ts
  src/api/queries/studio.queries.ts
  src/api/query-keys.ts
  src/app/studio/analytics/page.tsx
  src/app/studio/content/page.tsx
Due: eslint --fix, prettier --write

feat(upload): overhaul upload system with background uploads
  src/app/layout.tsx
  src/app/studio/upload/_components/LocationPicker.tsx
  src/app/studio/upload/_components/UploadModal.tsx
  src/app/studio/upload/_hooks/index.ts
  src/app/studio/upload/_hooks/use-beforeunload-warning.ts
  src/app/studio/upload/_hooks/use-immediate-upload-v2.ts
  src/app/studio/upload/_hooks/use-immediate-upload.ts
  src/shared/components/providers/upload-provider.tsx
  src/shared/components/upload/GlobalUploadIndicator.tsx
  src/shared/stores/upload-store.ts
Due: eslint --fix, prettier --write

chore(lint): add SonarJS eslint plugin and scan script
  .claude/skills/sonar-scan/SKILL.md
  .gitignore
  eslint.sonar.config.mjs
  package-lock.json
  package.json
  scripts/sonar-scan.mjs
Due: prettier --write

chore(claude): add codebase-summary skill and post-task hook
  .agents/skills/codebase-summary/SKILL.md
  .claude/hooks/post-task.sh
  .claude/skills/codebase-summary
Due: none

docs(api): add external studio videos API documentation
  docs/agents/upload-api.md
  docs/external/api-studio-videos.md
Due: none

feat(studio): add UUID-based video API with schedule endpoints
  src/api/client/public.client.ts
  src/api/client/studio.client.ts
  src/api/mutations/studio.mutations.ts
  src/types/index.ts
  src/types/studio.ts
Due: eslint --fix, prettier --write
